* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background-color: grey;
color: black;
}

a {
    color: yellowgreen;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* navigation */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0; 
}

.nav-brand {
    width: 50px;
}

/*nav left*/

.nav-main ul{
    display: flex;
}

.nav-main ul li {
padding: 15px;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*showcase*/

.showcase{
    width: 100%;
}

.showcase h2{
    text-align: center;
    padding: 20px;
}

.showcase img{
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 50px;
}

/*opciones*/

.opciones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.opciones img{
    width: 100%;
    height: 100px;
}

.opciones a{
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: azure;
    color: red;
}

/*linkspie*/

.links-pie {
    background-color: gainsboro;
    color: white;
    font-size: 12px;
    padding: 35px 0;
}

.footer-containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-containers ul{
    margin: 0 auto;
}

.footer-containers ul li{
line-height: 2;
}

.pie {
    background-color: gainsboro;
    color: white;
    font-size: 10px;
    padding: 15px 0;
    text-align: center;
    padding-bottom: 20px;
    opacity: 0,5;
}